$prussian-blue: rgba(39, 48, 67, 1);
$burnt-umber: rgba(130, 51, 41, 1);
$coral: rgba(255, 127, 81, 1);
$ash-gray: rgba(181, 194, 183, 1);

$crust: rgba(8, 8, 8, 1);
$mantle: rgba(16, 16, 16, 1);
$base: rgba(24, 24, 24, 1);

$surface1: rgba(32, 32, 32, 1);
$surface2: rgba(40, 40, 40, 1);
$surface3: rgba(48, 48, 48, 1);

$overlay1: rgba(56, 56, 56, 1);
$overlay2: rgba(64, 64, 64, 1);
$overlay3: rgba(72, 72, 72, 1);

$accent1: rgba(110, 164, 191, 1);

$text: rgba(255, 255, 255, 1);
$subtext1: rgba(200, 200, 200, 1);

$main-content-width: 65vw;
$main-content-height: 100%;
$radius: 24px;
$shadow: 0 8px 12px 0 $mantle, 0 6px 20px 0 $crust;