@use "./_variables.scss" as var;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var.$text;
  background: var.$base;
  font-family: "Courier New", "Times New Roman", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  margin: 40px 0;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 80px);
}

@media only screen and (max-width: var.$phone-threshold) {
  /* For mobile phones: */
  .main, .left, .right {
    width: 100%;
    margin: auto;
  }
}

button {
  cursor: pointer;
}

.promenent-button {
  display: inline-flex;
  background-color: var.$accent1;
  color: var.$base;
  padding: 10px 20px;
  font-size: 1em;
  width: auto;
  align-self: flex-start;
  border-radius: var.$radius2;
  border: 1px solid var.$overlay1;
}

// Animation styles
.slide-in {
  position: relative;
  animation: slideInRotate 0.4s ease-out forwards;
  transform-origin: center;
  transform: rotate(-5deg);
}

@keyframes slideInRotate {
  0% {
    transform: translateX(-100%) scale(1.025) rotate(-10deg);
    opacity: 0;
  }
  40% {
    transform: translateX(10px) scale(1.025) rotate(5deg);
    opacity: 1;
  }
  70% {
    transform: translateX(0) scale(1.025) rotate(0deg);
  }
  100% {
    transform: translateX(0) scale(1) rotate(0deg);
  }
}



.pop-in {
  animation: popIn 0.2s ease-out forwards;
  transform-origin: center;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


.slide-in-right {
  animation: slideInLeft 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-in-left {
  animation: slideInRight 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideInLeft {
  from {
    // opacity: 0;
    transform: translateX(-100%);
  }
  to {
    // opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    // opacity: 0;
    transform: translateX(100%);
  }
  to {
    // opacity: 1;
    transform: translateX(0);
  }
}

.slide-out-left {
  animation: slideOutLeft 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-100%);
}

.slide-out-right {
  animation: slideOutRight 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

@keyframes slideOutLeft {
  from {
    // opacity: 0;
    transform: translateX(0);
  }
  to {
    // opacity: 1;
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  from {
    // opacity: 0;
    transform: translateX(0%);
  }
  to {
    // opacity: 1;
    transform: translateX(100%);
  }
}


.bobble {
  animation: bobble 3s ease-in-out infinite;
}
@keyframes bobble {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}