@use "./_variables.scss" as var;

#info-card {
    position: relative;
    width: 325px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var.$radius;
    border: 1px solid var.$overlay1;
    background-color: var.$surface1;
    padding: 20px 30px;
    box-shadow: var.$shadow;
    transform: scale(1.025);
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 2;

    hr {
        margin: 30px 0 10px;
        width: 100%;
    }
}

#info-card-title {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid var.$overlay1;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        box-shadow: var.$shadow;
    }

    h2 {
        font-size: x-large;
        text-align: center;
    }

    span {
        font-size: 11pt;
        display: flex;
        justify-content: center;
        background-color: var.$overlay3;
        border-radius: 0.5em;
        padding: 4px;
        margin: 20px 40px 0;
        text-align: center
    }
}

#info-card-contact {

    color: var.$subtext1;

    li {
        display: flex;
        align-items: flex-start;
        list-style: none;
        margin-top: 20px;

        svg {
            --size: 30px;
            width: var(--size);
            height: var(--size);
            margin-top: calc((40px - var(--size)) / 2);
            margin-left: 10px;
            fill: var.$accent1;
        }

        .contact-text {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
    }

}

#info-card-quicklinks {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: var.$subtext1;

    a {
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 0 5px;

        svg {
            width: 100%;
            height: 100%;
            fill: var.$subtext1;
        }

        &:hover {
            background-color: rgba(200, 200, 200, 0.25);

            svg {
                fill: var.$text;
            }
        }
    }
} 

@media only screen and (max-width: var.$tablet-threshold) and (min-width: var.$phone-threshold) {
    #info-card {
        flex-direction: row;
        width: 90%;
        min-width: 615px;
        margin-left: 10%;
        margin-right: 10%;

        height: fit-content !important;
        min-height: 0 !important;
        max-height: none !important;
        
        #info-card-title {
            width: 30%;
            min-width: 240px;

            padding-bottom: 0;
            margin-bottom: 0;
            padding-right: 20px;
            margin-right: 20px;

            border-bottom: none;
            border-right: 1px solid var.$overlay1;
        }

        #info-card-contact {
            width: 40%;
            min-width: 275px;
            margin-right: 20px;
        }

        #info-card-quicklinks {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: var.$phone-threshold) {
    #info-card {
        width: 100%;
        height: auto;
        margin-left: 4%;
        margin-right: 4%;
    }

}